@font-face {
    font-family: 'Walkway Regular';
    src: url('../fonts/Walkway_SemiBold-webfont.eot');
    src: url('../fonts/Walkway_SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Walkway_SemiBold-webfont.woff') format('woff'),
         url('../fonts/Walkway_SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/Walkway_SemiBold-webfont.svg#walkway_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Walkway Regular';
    src: url('../fonts/Walkway_UltraBold-webfont.eot');
    src: url('../fonts/Walkway_UltraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Walkway_UltraBold-webfont.woff') format('woff'),
         url('../fonts/Walkway_UltraBold-webfont.ttf') format('truetype'),
         url('../fonts/Walkway_UltraBold-webfont.svg#walkway_ultraboldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: normal;
  src: local('Merriweather'),
       url(http://fonts.gstatic.com/s/merriweather/v8/RFda8w1V0eDZheqfcyQ4EBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'),
       url(http://fonts.gstatic.com/s/merriweather/v8/RFda8w1V0eDZheqfcyQ4EKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
